<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="60">

    <properties>
        <Property name="CONSOLE_LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx</Property>
        <Property name="FILE_LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%-5level][%logger{36}.%M] : %msg%n</Property>
        <Property name="FILE_NAME">blog</Property>
    </properties>

    <Appenders>
        <console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </console>

        <RollingRandomAccessFile name="InfoFile" immediateFlush="true" fileName="./logs/${FILE_NAME}.log" filePattern="./logs/${FILE_NAME}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ErrorFile" immediateFlush="true" fileName="./logs/error.log"
                                 filePattern="./logs/error.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
    </Appenders>


    <Loggers>
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.martin.mapper" level="DEBUG"/>
        <logger name="com.martin" level="INFO"/>
        <logger name="com.netflix.discovery.shared.resolver.aws" level="WARN"/>
        <AsyncRoot level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="ErrorFile"/>
        </AsyncRoot>
    </Loggers>

</configuration>